body {
	font-family: Courier New, monospace;
	line-height: 120%;
}


a:link, a:visited  {
	color: #000;
	text-decoration: underline;
	font-weight: 800;
	border-bottom: 2px solid Chartreuse;
}

a:hover, a:active {
	color: Chartreuse;
	transition: 0.5s;
	text-decoration:underline;
	border-bottom: 1px solid #000;
	background-color: none;
}

.container {
	display: flex;
	flex-wrap: nowrap;
}

.left {
	height: 100vh;
}

/* The following sketch highlight code is taken from https://alvarotrigo.com/blog/css-highlight-text/ */

.sketch-highlight{
  position:relative;
  padding: 0 5px;
}

.sketch-highlight:before{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:Chartreuse;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.5;
  border-radius:0.25em;
}

.sketch-highlight:after{
  content:"";
  z-index:-1;
  left:0em;
  top:0em;
  border-width:2px;
  border-style:solid;
  border-color:Chartreuse;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.5;
  border-radius:0.25em;
}

summary {
	text-align: center;
	transform-origin: top left;
	height: 30px;
	line-height: 30px;
	rotate: 270deg;
	position: fixed;
	width: 100vh;
	bottom: -33px;
	left: -2px;
	padding-bottom: 2px;
	border-bottom: 1px solid #000;
	background-color: Chartreuse;
}
	
nav {
	position: fixed;
	left: 35px;
	top: 0px;
	padding: 10px;
	height: 100vh;
	width: 180px;
	border-right: 1px solid #000;
	overflow-y: scroll;
}

nav > a:link, nav > a:visited {
	display: block;
	border: 1px solid #000;
	background-color: Chartreuse;
	margin-bottom: 3px;
	color: #000;
	padding: 5px;
	text-decoration: none;
}

nav > a:hover, nav > a:active {
	transition: 0.5s;
	border: 1px solid #000;
	background-color: #000;
	margin-bottom: 3px;
	color: Chartreuse;
	padding: 5px;
}

main {
	line-height: 140%;
	padding: 20px;
	max-width: 700px;
	margin-left: 240px;
}

main > p { line-height: 200%; }

mark { background-color: Chartreuse; }

figure { max-width: 100%; height: auto; margin-top: 30px; margin-bottom: 30px; text-align: center; }

figure > img { max-width: 100%; height: auto; padding: 3px; box-shadow: 2px 2px 20px Chartreuse;}

figcaption { font-style: italic; font-size: small; line-height: 100%; margin-top: 20px; text-align: center; }

figcaption > span { background-color: Chartreuse; font-weight: 800; }

h1 { line-height: 100%; }

h3 { text-shadow: 2px 2px Chartreuse; margin-top: 2.2em; text-decoration: underline; }

h3::before { content: "▾  "; }

code { border: 1px solid Chartreuse; padding: 2px 6px 2px 6px; border-radius: 10px; }

/* Use a media query to add a break point at 750px: */
@media screen and (max-width: 750px) {
	
body { font-size: 0.8em; }
main { min-width: 90%; margin-left: 0; }

summary {
	rotate: 0deg;
	position: fixed;
	width: 100vw;
	top: 0px;
	left: 0px;
	z-index: 1;
}

nav {
	position: fixed;
	padding: 10px;
	top: 50px;
	left: 50%;
	height: 50vh;
	width: 80vw;
	margin-left: -43vw;
	overflow-y: scroll;
	background: #fff;
	z-index: 1;
	border: 1px solid #000;
}

}	