	body {
	  color: #60673e;
	  font-family: monospace;
	}
	
	h1 {	
	  padding-left: 4px;
	  line-height: 120%;
	  border-bottom: 1px dashed;
	  text-transform: capitalize;
	}
	
	h1::before {
		content: "✿ ";
	}
	
	a:link, a:visited {
		color: #235B70;
		text-decoration: none;
	}
	
	a:hover {
		color: #95add3;
		transition: 0.2s;
	}
	
	.textlink { border-bottom: 1px dashed; }
	.navigate-back { margin-bottom: 20px; }
	
	.warning { font-weight: 600; text-align: center; border:1px solid; padding: 10px; width: 80%; margin: auto;}
	.cliques-mine { text-align: center; border:1px solid; padding: 5px; width: 80%; margin: auto;}
	
